@import 'nprogress/nprogress.css';
/* 基础进度条颜色 */
#nprogress .bar {
  background: var(--color-primary);
}

/* 光晕效果同步 */
#nprogress .peg {
  box-shadow:
    0 0 10px var(--color-primary),
    0 0 5px var(--color-primary);
}

/* 旋转图标颜色 */
#nprogress .spinner-icon {
  border-top-color: var(--color-primary);
  border-left-color: var(--color-primary);
}
