/* 默认主题 */
:root,
:root[data-theme='default'] {
  --color-primary: #165dff;
  --text-primary: #303133;
  --page-background: #f2f3f5;
  --base-background: #ffffff;

  --color-primary-10: color-mix(in srgb, var(--color-primary) 10%, #ffffff);
  --color-primary-20: color-mix(in srgb, var(--color-primary) 20%, #ffffff);
  --color-primary-30: color-mix(in srgb, var(--color-primary) 30%, #ffffff);
  --color-primary-40: color-mix(in srgb, var(--color-primary) 40%, #ffffff);
  --color-primary-50: color-mix(in srgb, var(--color-primary) 50%, #ffffff);
  --color-primary-60: color-mix(in srgb, var(--color-primary) 60%, #ffffff);
  --color-primary-70: color-mix(in srgb, var(--color-primary) 70%, #ffffff);
  --color-primary-80: color-mix(in srgb, var(--color-primary) 80%, #ffffff);
  --color-primary-90: color-mix(in srgb, var(--color-primary) 90%, #ffffff);
  --color-primary-100: color-mix(in srgb, var(--color-primary) 100%, #ffffff);

  --color-background-10: color-mix(in srgb, var(--base-background) 10%, #ffffff);
  --color-background-20: color-mix(in srgb, var(--base-background) 20%, #ffffff);
  --color-background-30: color-mix(in srgb, var(--base-background) 30%, #ffffff);
  --color-background-40: color-mix(in srgb, var(--base-background) 40%, #ffffff);
  --color-background-50: color-mix(in srgb, var(--base-background) 50%, #ffffff);
  --color-background-60: color-mix(in srgb, var(--base-background) 60%, #ffffff);
  --color-background-70: color-mix(in srgb, var(--base-background) 70%, #ffffff);
  --color-background-80: color-mix(in srgb, var(--base-background) 80%, #ffffff);
  --color-background-90: color-mix(in srgb, var(--base-background) 90%, #ffffff);
  --color-background-100: color-mix(in srgb, var(--base-background) 100%, #ffffff);
}
.dark,
.dark[data-theme='default'] {
  --color-primary: #1668dc;
  --text-primary: #e5eaf3;
  --page-background: #0a0a0a;
  --base-background: #141414;

  --color-primary-10: color-mix(in srgb, var(--color-primary) 10%, #000000);
  --color-primary-20: color-mix(in srgb, var(--color-primary) 20%, #000000);
  --color-primary-30: color-mix(in srgb, var(--color-primary) 30%, #000000);
  --color-primary-40: color-mix(in srgb, var(--color-primary) 40%, #000000);
  --color-primary-50: color-mix(in srgb, var(--color-primary) 50%, #000000);
  --color-primary-60: color-mix(in srgb, var(--color-primary) 60%, #000000);
  --color-primary-70: color-mix(in srgb, var(--color-primary) 70%, #000000);
  --color-primary-80: color-mix(in srgb, var(--color-primary) 80%, #000000);
  --color-primary-90: color-mix(in srgb, var(--color-primary) 90%, #000000);
  --color-primary-100: color-mix(in srgb, var(--color-primary) 100%, #000000);

  --color-background-10: color-mix(in srgb, var(--base-background) 10%, #000000);
  --color-background-20: color-mix(in srgb, var(--base-background) 20%, #000000);
  --color-background-30: color-mix(in srgb, var(--base-background) 30%, #000000);
  --color-background-40: color-mix(in srgb, var(--base-background) 40%, #000000);
  --color-background-50: color-mix(in srgb, var(--base-background) 50%, #000000);
  --color-background-60: color-mix(in srgb, var(--base-background) 60%, #000000);
  --color-background-70: color-mix(in srgb, var(--base-background) 70%, #000000);
  --color-background-80: color-mix(in srgb, var(--base-background) 80%, #000000);
  --color-background-90: color-mix(in srgb, var(--base-background) 90%, #000000);
  --color-background-100: color-mix(in srgb, var(--base-background) 100%, #000000);
}

/* 静谧青灰 */
:root[data-theme='cyan'] {
  --color-primary: #008699;
  --text-primary: #1f292e;
  --page-background: #f4f7f8;
  --base-background: #ffffff;
}

.dark[data-theme='cyan'] {
  --text-primary: #e5eaf3;
  --page-background: #1a2428;
  --base-background: #273338;
}
/* 稳重墨紫 */
:root[data-theme='purple'] {
  --color-primary: #722ed1;
  --text-primary: #202124;
  --page-background: #f7f5fa;
  --base-background: #ffffff;
}

.dark[data-theme='purple'] {
  --text-primary: #e5eaf3;
  --page-background: #1e1d29;
  --base-background: #2c2b3d;
}

/* 炭灰极简 */
:root[data-theme='carbon'] {
  --color-primary: #36454f;
  --text-primary: #121212;
  --page-background: #fafafa;
  --base-background: #ffffff;
}

.dark[data-theme='carbon'] {
  --text-primary: #e5eaf3;
  --page-background: #121212;
  --base-background: #1e1e1e;
}
/* 森林绿 */
:root[data-theme='forest'] {
  --color-primary: #007860;
  --text-primary: #1a2926;
  --page-background: #f2f7f6;
  --base-background: #ffffff;
}

.dark[data-theme='forest'] {
  --text-primary: #e5eaf3;
  --page-background: #141e1c;
  --base-background: #20332f;
}

/* 砖红 */
:root[data-theme='redbiz'] {
  --color-primary: #b83333;
  --text-primary: #1a2926;
  --page-background: #f7f3f3;
  --base-background: #ffffff;
}
.dark[data-theme='redbiz'] {
  --text-primary: #e5eaf3;
  --page-background: #0a0a0a;
  --base-background: #141414;
}
